.profileContainer{
    width: 90%;
    margin: auto;
}

.topSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pbtns {
    display: flex; 
}

.pbtns button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 180px;
    height: 40px;
    border: 1px solid gray;
    background: none; 
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}

.pbtns button:hover{
    background-color: rgba(176, 196, 222, 0.301);
}

.pbtns button span {
    margin-left: 5px; 
}

.Del {
    color: red;
}

.changePWD {
    color: grey;
}

.midSide{
    display: flex;
    gap: 2.5%;
}

.right{
    width: 57.5%;
    border: 1px grey solid;
    border-radius: 30px;
    padding: 20px;
}

.profileDetailes{
    display: flex;
    gap: 20px;
}

.right.light{
    background-color: white;
}

.right.dark{
    background-color: #20232a;
}

.profileDetailes img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.pLinks svg{
    padding: 5px;
    width: 25px;
    height: 25px;
    color: darkgray;
}

.pLinks svg:hover{
    color: lightseagreen;
}

.oDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.separator {
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed grey; 
    margin: 20px 0; 
}

.left{
    width: 40%;
    border: 1px grey solid;
    border-radius: 30px;
    padding: 20px;
}

.left.light{
    background-color: white;
}

.left.dark{
    background-color: #20232a;
}

.header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

